<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <ul>
        <li>First Name: <span th:text="${customer.firstName}"></span></li>
        <li>Last Name: <span th:text="${customer.lastName}"></span></li>
        <li>Phone: <span th:text="${customer.phone}"></span></li>
        <li>Email: <span th:text="${customer.email}"></span></li>
    </ul>
    <a href="/customer/view/all">View all customers</a>
</div>
</body>
</html>